<style>  

    html, body {
        background-color: #E2E2E2;
    }

    .container {
        box-shadow: 0px 0px 15px 1px #2e353d;
        background: #2e353d;
        padding: 40px 0px 0px 0px;
        min-height: 600px;
    }

    /*--------------------------------------------------------------
    BARRA DE NAVEGACIÓN
    --------------------------------------------------------------*/
    #nav-bar-principal {
        padding-top:5px;
        margin: 0px;
    }

    .navbar {
        background-color: #2e353d;
        margin: 0px; 
    }

    .navbar .buscador {
        float: right;
    }

    .navbar-toggle .icon-bar {
        border: solid 1px white !important;
    }

    a.navbar-brand {
        color: white;
        font-size: 26px;
        margin-left: 2em;
    }

    /*--------------------------------------------------------------
    VISTAS COMUNES EN TODAS LAS PÁGINAS
    --------------------------------------------------------------*/
    .barra-lateral {
        background: #2e353d;
        color: white;
    }

    .main-content-area {
        background: #fff;
        /*background-image: url(http://placehold.it/1280x1024);*/
        /*background-position: 50% 50%; /* image centered on screen */
        color: black;
        min-height: 600px;
    }

    .main-content-area .barra-lateral {          
    }

    .footer-principal {
    }

    .footer {
        position: relative;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: white;
        padding: 5px;
    }

</style>