<li>
    <a href="{{ url('puntosinteres_index') }}">Puntos de interés</a>
</li>
{% if is_granted('ROLE_SUPER_ADMIN') %}
    <li>
        <a href="{{ url('localidades_index') }}">Localidades</a>
    </li>
    <li>
        <a href="{{ url('categorias_index') }}">Categorías</a>
    </li>
{% endif %}