{% extends '::base.html.twig' %}

{% block title %} Categorias {% endblock %}

{% block body %} 
    <h1>Categorias</h1>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
            <tr>
                <td>{{ categoria.nombre }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
