{% extends '::base.html.twig' %}

{% block title %} Puntos de interés {% endblock %}

{% block body %} 
    <h1>Puntos de interés</h1>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
            </tr><!--
            <tr>
                <th>Descripción</th>
            </tr>
            <tr>
                <th>Latitud</th>
            </tr>
            <tr>
                <th>Longitud</th>
            </tr>
            <tr>
                <th>Link de interés</th>
            </tr>
            <tr>
                <th>Dirección</th>
            </tr>
            <tr>
                <th>Localidad</th>
            </tr>
            <tr>
                <th>Categoría</th>
            </tr>
            <tr>
                <th>Foto</th>
            </tr>
            <tr>
                <th>Precio</th>
            </tr>-->
        </thead>
        <tbody>
            {% for puntointeres in puntosinteres %}
            <tr>
                <td>{{ puntointeres.nombre }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
