{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categorías</h1>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for categorium in categorias %}
            <tr>                
                <td>{{ categorium.nombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-primary" href="{{ path('categoria_edit', { 'id': categorium.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-primary" href="{{ path('categoria_new') }}">Crear nueva entrada</a>
        </li>
    </ul>
{% endblock %}
