{% extends 'base.html.twig' %}

{% block body %}
    <!-- Crea la vista para mostrar todos las categorías.
    Usa la función indexAction($request) y la variable $categorias del archivo
    CategoriaController.php para mostrar todas las categorias.
    -->

    <h1>Categorías</h1>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for categorium in categorias %}
            <tr>                
                <td>{{ categorium.nombre }}</td><!-- Botón Editar -->
                <td>
                    <a href="{{ path('puntointeres_edit', { 'id': puntoInteres.id }) }}" class="btn btn-primary">Editar</a>    
                </td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-primary" href="{{ path('categoria_edit', { 'id': categorium.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-primary" href="{{ path('categoria_new') }}">Crear nueva entrada</a>
        </li>
    </ul>
{% endblock %}
