{% extends 'base.html.twig' %}

{% block body %}
    <!-- Crea la vista para mostrar todos las categorías.
    Usa la función indexAction($request) y la variable $categorias del archivo
    CategoriaController.php para mostrar todas las categorias.
    -->

    <h1>Categorías</h1>
    
    <a class="btn btn-success" href="{{ path('categoria_new') }}">
        <span class="glyphicon glyphicon-plus"></span> Crear nueva entrada
    </a>
    <br/>
    <br/>
    
    <table class="table table-striped table-bordered table-hover">
        <thead>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
        {% for categorium in categorias %}
            <tr>                
                <td>{{ categorium.nombre }}</td><!-- Botón Editar -->
                <td>
                    <a href="{{ path('categoria_edit', { 'id': categorium.id }) }}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-pencil"></span> Editar
                    </a>    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
