{% extends 'base.html.twig' %}

{% block body %}
    <h1>Crear categoría</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crear" />
    {{ form_end(form) }}

    <a class="btn btn-primary" href="{{ path('categoria_index') }}">
        <span class="glyphicon glyphicon-list"></span> Volver a la lista
    </a>

{% endblock %}
