{% extends 'base.html.twig' %}

{% block body %}
    <!-- Crea la vista para mostrar todos los puntos de interés.
    Usa la función indexAction($request) y la variable $puntosInteres del
    archivo PuntoInteresController.php para mostrar todos los puntos de interés.
    -->

    <h1>Puntos de interés</h1>

    <dir class="col-md-12">
        {% for p in puntosInteres %}
            {% include "AppBundle:puntosinteres:articuloResumen.html.twig" with {'puntoInteres': p} %}

        {% endfor %}
    </dir>

    <!-- Botón Crear nueva entrada -->
    <a href="{{ path('puntointeres_new') }}" class="btn btn-primary">Crear nueva entrada</a>
{% endblock %}
