{% extends 'base.html.twig' %}

{% block body %}
    <!-- Crea la vista para crear un nuevo punto de interés.
    Usa la función buildForm($request, $puntoInteres) del archivo
    PuntoInteresType.php para generar el formulario de alta.
    Usa la función newAction($request) y la variable $form del
    archivo PuntoInteresController.php para guardar el nuevo punto de interés.
    -->
    
    <h1>Crear punto de interés</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crear" />
    {{ form_end(form) }}

    <a class="btn btn-primary" href="{{ path('puntointeres_index') }}">Volver a la lista</a>
{% endblock %}
