{% extends '::base.html.twig' %}

{% block title %} Localidades {% endblock %}

{% block body %}
    <section>
        <h1>Localidades</h1>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                {% for localidad in localidades %}
                <tr>
                    <td>{{ localidad.nombre }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
